<p>all-speakers works!</p>
<div class="box mt-5">
    <div class="my-2 w-25">
       
        <input type="text"  placeholder="Search" > <!-- (change)="filterSpeakers($event)"-->
       
        
       
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12" *ngFor="let item of speakers" >
            
            <div class="item">
                <img src="{{item.picture.large}}" alt="">
                <div class="body">
                    <h4>{{item.name.title}} {{item.name.first}} {{item.name.last}}</h4>
                    <p>{{item.cell}}</p>
                </div>
                <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
                   
                    <span>{{item.email}}</span>
    
                </div>
            </div>
        </div>
    </div>
    </div>
    